body {
    color: #6C757D; 
}

h1 {
    color: #001F3F; 
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #6C757D; 
    border-color: #6C757D; 
    margin-left: 10px; 
}

.btn-secondary {
    background-color: #6C757D; 
    border-color: #6C757D; 
    margin-left: 10px; 
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #5a6268; 
    border-color: #5a6268; 
}

.custom-container {
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto; 
}
